<p style="color: green"><%= notice %></p>

<h1>Friends List</h1>

<table class="table-success" >
  <thead class="table-warning">
    <td>First Name</td>
    <td>Last Name</td>
    <td>Email</td>
    <td>Phone</td>
    <td> Twitter</td>
    <td>Show Friend</td>
  </thead>
  <% @friends.each do |friend| %>
    <%= render friend %>
    <p>
      
    </p>
  <% end %>
</table>

<%= link_to "New friend", new_friend_path %>
