
<table>
  <tr>
    <%= render @friend %>
  </tr>
  
  
</table>

<div class="display-flex">
  <%= link_to "Edit this friend", edit_friend_path(@friend), class: 'btn btn-warning'%><br/>
  <br/>
  <br/>
  <%= link_to "Back to friends", friends_path, class: 'btn btn-primary' %>
  <br/>

  <%= button_to "Destroy this friend", @friend, method: :delete, class: "btn btn-danger" %>
</div>

